{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'accounts/css/login.css' %}" >
    <title>Apli.ai | Forgot Password</title>
  </head>
  <body>
    <div class="container">
        <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
            <div class="card-body">
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <h5 class="card-title text-center">Reset Password</h5>
  <form id="form" name="form" action="{% url 'accounts:reset_password_successful' %}" method="POST">
    {% csrf_token %}
      <div class="form-label-group">
          <input type="password" class="form-control" id="password" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
          <label for="password">Password *</label>
        </label>
      </div>
      <br>
      <div class="form-label-group">
          <input type="password" class="form-control" id="confirm_password" name="confirm_password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
          <label for="confirm_password"> Confirm Password *</label>
      </div>
      <button class="btn btn-lg btn-primary btn-block text-uppercase txt rou" id="reset" type="submit" disabled='true'><b>Reset</b></button>
    </form>
  <hr>
    <h6><b>Note:</b>Password must contain 8 or more characters that are of at least one number, and one uppercase and lowercase letter.</h6>
            </div>
          </div>
      </div>
    </div>
</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js"></script>
    <script>
      $('#password, #confirm_password').on('keyup', function () {
        if ($('#password').val() == $('#confirm_password').val()) {
          $('#reset').removeAttr("disabled");
        } else 
          $('#reset').attr("disabled", true);
      }); 

    </script>
  </body>
</html>