<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Apli.ai|ForgotPassword</title>
    <style>
    div{
        text-align:center;
    }
    .alert alert-warning{
        display:inline-block;
    }
    </style>
  </head>
  <body>
  <div class = "container">
<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Password Changed</h4>
  <p>The password to the account associated with the email address you entered has been changed successfully.Please enter the new password and Log in.<br>
  Thank You<br>
  Team Apli.ai<br>
  </p>
  <hr>
  <p class="mb-0"><a href="{% url 'accounts:login' %}">Login to Apli.ai</p>
</div>
</div>
  </body>
  </html>
