<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<p>
<h3>
<div class="container">
<div class="alert alert-info" role="alert">
<p>An email has been sent to the email address provided with the password reset link.<br> <a href="{% url 'accounts:login' %}" class="alert-link">Go to the Login page</a>.</p>
</div>
</h3>
</p>
</div>
</body>
</html>
