{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'accounts/css/login.css' %}" >
    <title>Apli.ai | Signup</title>
  </head>
  <body>
    <div class="container">
        <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
            <div class="card-body">
                <h5 class="card-title text-center">SignUp | Step 3/3 </h5>
                <form class="form-signin">
                   
                    <button class="btn btn-lg btn-primary btn-block text-uppercase dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Role
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">CEO</a>
                        <a class="dropdown-item" href="#">CTO</a>
                        <a class="dropdown-item" href="#">HR</a>
                    </div>
                    
                    <br>
                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">SignUp</button>
                </form>
            </div>
            </div>
        </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
<html>
<head>

</head>
</html>