<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- link for fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/solid.css" integrity="sha384-QokYePQSOwpBDuhlHOsX0ymF6R/vLk/UQVz3WHa6wygxI5oGTmDTv8wahFOSspdm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/brands.css" integrity="sha384-n9+6/aSqa9lBidZMRCQHTHKJscPq6NW4pCQBiMmHdUCvPN8ZOg2zJJTkC7WIezWv" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/fontawesome.css" integrity="sha384-vd1e11sR28tEK9YANUtpIOdjGW14pS87bUBuOIoBILVWLFnS+MCX9T6MMf0VdPGq" crossorigin="anonymous">

    <!-- link for local css -->
    <link rel="stylesheet" href="../../static/apliai/css/index.css">

    <script>
        $(document).ready(function() {
        var hash = window.location.hash;
        var link = $('a');
        $('a').click(function(e) {
            e.preventDefault();
            hash = link.attr("href");
            window.location = hash;
        });
        });
    </script>

</head>
<body>
   <nav id="top-nav" class="navbar">
        <div class="navbar-brand">
            <a href="#" class="navbar-item">
                <img src="../../static/apliai/img/apli-black.png" alt="apli-logo" width="120" height="50">
            </a>
        </div>

        <div class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item">
                    <a href="#">About Us</a>
                </div>
                <div class="navbar-item">
                    <a href="#">Recruiters</a>
                </div>
                <div class="navbar-item">
                    <a href="#">Students</a>
                </div>
                <div class="navbar-item">
                    <a href="#">Blog</a>
                </div>
                <div class="navbar-item">
                    <a href="#">Careers</a>
                </div>
            </div>
        </div>
   </nav>

    <section id="landing" class="hero is-fullheight-with-navbar">
        <div class="hero-body">
            <div class="columns is-mobile is-vcentered">
                <div class="column">
                    <img src="../../static/apliai/img/hero-gif1.gif" alt="hero-gif">
                </div>
                <div class="column">
                    <div class="title is-1">
                        <h1>Video Interview and Soft Skills Training Platform</h1>
                    </div>
                    <div class="subtitle is-3">
                        <h3>Connect + Access = Transform</h3>
                    </div>
                </div>
            </div>       
        </div>


    </section>

    <section id="hero" class="hero is-mobile is-medium">
        <div class="hero-body">
            <div class="title">
                <h3 class="has-text-centered">Meet Apli</h3>
            </div>

            <div class="subtitle">
                <h4 class="has-text-centered">Shortlist and hire quality candidates faster.</h4>
            </div>
        </div>
    </section>

    <section id="tabs">
        <div class="section">
            <div class="tabs is-centered is-boxed is-medium">
                <ul>
                    <li>
                        <a id="student-tab-link" href="#students-tab" >
                            Student
                        </a>
                    </li>   
                    <li>
                        <a id="companies-tab-link" href="#companies-tab" >
                            Companies
                        </a>
                    </li>
                    <li>
                        <a id="institution-tab-link" href="#institutions-tab" >
                            Institution
                        </a>
                    </li>
                </ul>
            </div>

            <div class="info-tabs level">
    
                <div id="students-tab" class="level-item columns is-centered info-tab">
                    <div class="column is-two-fifths">
                        <figure class="image is-3by2">
                            <img src="https://bulma.io/images/placeholders/128x128.png" alt="">
                        </figure>
                    </div>
    
                    <div class="column is-6">
                        <div class="columns">
                            <div class="column">
                                <h4 class="heading has-text-centered">Increase chances of selection by 70%</h4>
                            </div>
                        </div>
                        
                        <div class="columns is-centered small-font">
                            <div class="column has-text-centered">
                                <span><i class="faster fa-user-friends"></i></span>
                                <span>Mock Interview</span>
                            </div>
                            <div class="column has-text-centered">
                                <span><i class="far fa-user-circle"></i></span>
                                <span>Profile</span>
                            </div>
                            <div class="column has-text-centered">
                                <span><i class="far fa-file-alt"></i></span>
                                <span>Accessment</span>
                            </div>
                            <div class="column has-text-centered">
                                <span><i class="fas fa-suitcase"></i>
                                </span>
                                <span>Jobs, Internships, Conferences</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="companies-tab" class="level-item columns is-centered info-tab">
                    <div class="column is-two-fifths">
                        <figure class="image is-3by2">
                            <img src="https://bulma.io/images/placeholders/128x128.png" alt="">
                        </figure>
                    </div>
    
                    <div class="column is-6">
                        <div class="columns">
                            <div class="column">
                                <h4 class="heading has-text-centered">Hire quality candidates</h4>
                            </div>
                        </div>
                        
                        <div class="columns is-centered small-font">
                            <div class="column has-text-centered">
                                <span><i class="far fa-clock"></i></span>
                                <span>Reduce time and costs</span>
                            </div>
                            <div class="column has-text-centered">
                                <span><i class="fas fa-shield-alt"></i></span>
                                <span>Secure</span>
                            </div>
                            <div class="column has-text-centered">
                                <span><i class="fas fa-sliders-h"></i></span>
                                <span>Customizable</span>
                            </div>
                        </div>
                    </div>
                </div>
    
    
                <div id="institutions-tab" class="level-item columns is-centered info-tab">
                    <div class="column is-two-fifths">
                        <figure class="image is-3by2  ">
                            <img src="https://bulma.io/images/placeholders/128x128.png" alt="">
                        </figure>
                    </div>
    
                    <div class="column is-6">
                        <div class="columns">
                            <div class="column">
                                <h4 class="heading has-text-centered">Easy, Efficient, Campus Recruitement Process</h4>
                            </div>
                        </div>
                        
                        <div class="columns is-centered small-font">
                            
                            <div class="column has-text-centered">
                                <span><i class="fas fa-suitcase"></i></span>
                                <span>Placements</span>
                            </div>
                            <div class="column has-text-centered">
                                <span><i class="fas fa-accessible-icon"></i></span>
                                <span>Accessible</span>
                            </div>
                            <div class="column has-text-centered">
                                <span><i class="fas fa-shield-alt"></i></span>
                                <span>Secure</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </section>

    <section class="hero is-mobile">
        <div class="hero-body">
            <div class="title">
                <h3 class="has-text-centered">Shortlist and hire quality candidates faster.</h3>
            </div>
            <div class="subtitle">
                <h4 class="has-text-centered">Connect + Access = Transform</h4>
            </div>
        </div>
    </section>

    <footer class="footer columns">
        <figure class="image is-128x128">
            <img src="../../static/apliai/img/apli-blue.png" alt="apli-black-logo">
        </figure>

        <div class="column">
            <div class="columns">
                <div class="column is-offset-10">
                    <figure>
                        <i class="fab fa-instagram"></i>
                    </figure>
                </div>
                <div class="column">
                    <figure>
                        <i class="fab fa-facebook"></i>
                    </figure>
                </div>
                <div class="column">
                    <figure>
                        <i class="fab fa-twitter"></i>
                    </figure>
                </div>
            </div>
            
        </div>

    </footer>


    

</body>
</html>
