{% extends "recruiter/base.html" %}
{% block title %}Apli.ai | Candidates{% endblock title %}
{% block content %}
        <!-- Icon Cards-->
        <div class="row">
          <div class="col-xl-4 col-sm-6 mb-4">
            <div class="card text-white pjob o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-fw fa-list"></i>
                </div>
                <h3>Applications</h3>
                <div class="mr-5">{{appcount}}</div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-sm-6 mb-4">
            <div class="card text-white pjob o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-users"></i>
                </div>
                <h3>Shortlisted</h3>
                <div class="mr-5">0</div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-sm-6 mb-4">
            <div class="card text-white pjob o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="far fa-thumbs-up"></i>
                </div>
                <h3>Recruited</h3>
                <div class="mr-5">0</div>
              </div>
            </div>
          </div>
        </div>
      </div>
        <!-- DataTables Example -->

        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-table"></i>
            Applications
          </div>
          
          {% if new_user == 'False' %}
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Profile</th>
                      <th>Skills</th>
                      <th>Resume | Score</th>
                      <th>Video-Resume | Score</th>
                      <th>Post | Place</th>
                      <th>Grade</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for applicant in applicants %}
                    <tr>
                      <td>{{applicant.candidate_name}}</td>
                      <td>Skills chart</td>
                      <td>Resume link | 4/5</td>
                      <td>Video-Resume link | 4/5</td>                      
                      <td>{{applicant.post}} | {{applicant.place}}</td>
                      <td>5 / 5.0</td>
                      <td>Applied</td>
                    </tr> 
                  {% endfor %} 
                  </tbody>
                </table>
              </div>
          {% else %}
          <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <h4> No Applications yet &#128528;</h4>
                  <h5> Try out posting a job if not placed yet &#128526;! </h5>
                </table>
              </div>
          </div>
          {% endif %}
          

{% endblock content %}
