{% extends "recruiter/base.html" %}
{% block title %}Apli.ai | Candidates{% endblock title %}
{% block content %}
        <!-- Icon Cards-->
        <div class="row">
          <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-primary o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-fw fa-tasks"></i>
                </div>
                <h3>Jobs Posted</h3>
                <div class="mr-5">{{jobs_posted}}</div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-warning o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-fw fa-list"></i>
                </div>
                <h3>Applications</h3>
                <div class="mr-5">{{appcount}}</div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-success o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-users"></i>
                </div>
                <h3>Shortlisted</h3>
                <div class="mr-5">0</div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-danger o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="far fa-thumbs-up"></i>
                </div>
                <h3>Recruited</h3>
                <div class="mr-5">0</div>
              </div>
            </div>
          </div>
        </div>

        <!-- DataTables Example -->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-table"></i>
            Applications
          </div>
          
          {% if new_user == 'False' %}
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Post</th>
                      <th>Place</th>
                      <th>Resume</th>
                      <th>Video Resume</th>
                      <th>Grade</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for applicant in applicants %}
                    <tr>
                      <td>{{applicant.candidate_name}}</td>
                      <td>{{applicant.post}}</td>
                      <td>{{applicant.place}}</td>
                      <td><a href="{{applicant.resume}}">View</a></td>
                      <td><a href="{{applicant.video_resume}}">View</a></td>
                      <td>{{applicant.grade}} / 5.0</td>
                    </tr> 
                  {% endfor %} 
                  </tbody>
                </table>
              </div>
          {% else %}
          <div class="card-body">
            <h4> No Jobs Posted </h4>
            <h5> Try out one by clicking Post Job Button ! </h5>
          </div>
          {% endif %}
          

{% endblock content %}