{% extends "recruiter/base.html" %}
{% block title %}Apli.ai | Question{% endblock title %}
{% block content %}
<div class="container" style="margin: 0px; width: 100;max-width: inherit;">

  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Add Question</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="POST" action="question">
            {% csrf_token %}
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Type</label>
              </div>
              <select name="type" class="custom-select" id="inputGroupSelect01">
                <option value="BEHAVIORAL" selected>BEHAVIORAL</option>
                <option value="TECHNICAL">TECHNICAL</option>
                <option value="USER EXPERIENCE">USER EXPERIENCE</option>
                <option value="MARKETING">MARKETING</option>
                <option value="SALES">SALES</option>
                <option value="CUSTOMER SERVICE">CUSTOMER SERVICE</option>
                <option value="ENGLISH PROFICIENCY TEST">ENGLISH PROFICIENCY TEST</option>
              </select>
            </div>

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="far fa-question-circle"></i></span>
              </div>
              <input type="text" name="question" class="form-control" placeholder="Your Question" aria-label="Username"
                aria-describedby="basic-addon1">
            </div>

            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </form>
        </div>

      </div>
    </div>
  </div>


  <!-- Modal 1 -->
  <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle1">Add Package</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="POST" action="question1">
            {% csrf_token %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon13"><i class="far fa-folder"></i></span>
                </div>
                <input type="text" name="package1" class="form-control" placeholder="Package Name" aria-label="Username"
                  aria-describedby="basic-addon13">
              </div>

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect012">Type</label>
              </div>
              <select name="type1" class="custom-select" id="inputGroupSelect012">
                <option value="BEHAVIORAL" selected>BEHAVIORAL</option>
                <option value="TECHNICAL">TECHNICAL</option>
                <option value="USER EXPERIENCE">USER EXPERIENCE</option>
                <option value="MARKETING">MARKETING</option>
                <option value="SALES">SALES</option>
                <option value="CUSTOMER SERVICE">CUSTOMER SERVICE</option>
                <option value="ENGLISH PROFICIENCY TEST">ENGLISH PROFICIENCY TEST</option>
              </select>
            </div>

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon12"><i class="far fa-question-circle"></i></span>
              </div>
              <input type="text" name="question" class="form-control" placeholder="Your Question" aria-label="Username"
                aria-describedby="basic-addon12">
            </div>

            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </form>
        </div>

      </div>
    </div>
  </div>

  <div class="row" style="height: 100%">
    <div style="background-color: #e7edf0;" class="col-sm-4 col-lg-6 col-xl-5">
      <div class="row">
        <div class="col-sm-4 col-lg-12 col-xl-12">
          <h6 style="margin:16px;"> Question Bank</h6>
        </div>

        <div class="col-sm-4 col-lg-12 col-xl-12">
          <div class="shadow p-2 mb-2 bg-white rounded">
            <!-- Small button groups (default and split) -->
            <div class="btn-group mb-3 col-sm-4 col-lg-12 col-xl-12">
              <button class="btn  dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Choose Category
              </button>
              <div class="dropdown-menu">
                <button class="dropdown-item" type="button">Action</button>
                <button class="dropdown-item" type="button">Another action</button>
                <button class="dropdown-item" type="button">Something else here</button>
              </div>

            </div>
            <!--                        <div class="row">-->
            <!--                            <div class="col-sm-4 col-lg-12 col-xl-12">-->
            <!--                                <button style="background-color: #e7edf0;color:#bac7cd;" type="button"-->
            <!--                                        class="btn btn-sm">COMMON-->
            <!--                                </button>-->

            <!--                                <button style="background-color: #e7edf0;color:#bac7cd;" type="button"-->
            <!--                                        class="btn btn-sm">MOTIVATION-->
            <!--                                </button>-->
            <!--                            </div>-->
            <!--                        </div>-->

          </div>
        </div>

        <div class="col-sm-4 col-lg-12 col-xl-12">
          <div class="shadow p-2 mb-3 bg-white rounded">

            <div class="input-group p-2 mb-3">
              <input type="text" class="form-control" placeholder="Input Here" aria-label="Recipient's username"
                aria-describedby="button-addon2">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search
                </button>
              </div>
            </div>

          </div>
        </div>

        <div class="col-sm-4 col-lg-12 col-xl-12">
          <div class="questions">
            {% for built_in_question in built_in_questions %}
            <div id={{built_in_question.id}} draggable="true" class=" fill shadow p-2 mb-2 bg-white rounded">
              {{built_in_question.question}}
            </div>
            {% endfor %}

          </div>
        </div>

      </div>
    </div>
    <div class="col-sm-4 col-lg-6 col-xl-7" style="background-color: #f7f9fa">
      <nav class="navbar navbar-light bg-light">
        <div class="form-inline">
          <button class="btn" data-toggle="modal" data-target="#exampleModalCenter"><i
              class="fa fa-plus-circle"></i></button>
          <button class="btn" data-toggle="modal" data-target="#exampleModalCenter1"><i class="fas fa-folder-plus"></i></button>

          <div class="dropdown">
            <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Sample
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              {% for user_set in user_sets %}
              <a class="dropdown-item" href="#"></a>
              {% endfor %}

            </div>
          </div>
        </div>


      </nav>
      <div class="questions empty " id="sortable">
        {% for user_question in user_questions %}

        <div id={{user_question.id}} draggable="true" class="fill shadow p-2 mb-2 bg-white rounded  ">
          {{user_question.question}}
        </div>
        {% endfor %}

      </div>

    </div>
  </div>
</div>

</div>
</div>
{% endblock content %}